/* static/css/style.css */

/* static/css/styles.css */

body {
    background-color: #a06c29; /* Color de fondo claro */
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
}

