{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intervinientes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Intervinientes</h1>
    <a href="{% url 'interviniente_create' %}">Nuevo Interviniente</a>
    <ul>
        {% for interviniente in intervinientes %}
            <li>
                {{ interviniente.nombre }} - 
                <a href="{% url 'interviniente_update' interviniente.pk %}">Editar</a> - 
                <a href="{% url 'interviniente_delete' interviniente.pk %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
