{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Mi Plantuladora</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'intervinientes_list' %}">Intervinientes</a></li>
            <li><a href="{% url 'rol_list' %}">Roles</a></li>
            <li><a href="{% url 'producto_list' %}">Productos</a></li>
            <li><a href="{% url 'sucursal_list' %}">Sucursales</a></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        <!-- Default content -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My Site</p>
    </footer>
</body>
</html>

